.nav{
    background-color: purple;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.links{
    /* background-color: green; */
    color: white;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

/* .nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
} */